<% content_for :page_title do %>
  <%= plural_resource_name(Spree::City) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_city), new_admin_state_city_url(@state), { class: "btn-success", icon: 'add', id: 'new_city_link' } %>
<% end if can? :create, Spree::City %>

<div data-hook="city_country" class="form-group">
  <%= label_tag :country, Spree.t(:country) %>
  <select id="city_country" class='select2'>
    <%= options_from_collection_for_select(@countries, :id, :name, @country.id) %>
  </select>
</div>

<div data-hook="city_state" class="form-group">
  <%= label_tag :state, Spree.t(:state) %>
  <select id="city_state" class='observe_field select2' data-base-url="<%=admin_cities_path(format: :js) %>?country_id=<%= @state.id %>&state_id=" data-update="#cities-list">
    <%= options_from_collection_for_select(@states, :id, :name, @state.id) %>
  </select>
</div>

<div id="cities-list" data-hook>
  <%= render partial: 'cities_list'%>
</div>
